body{
    font-family: 'Caveat', cursive;
}

.year,.eq,.tps {
    background: linear-gradient(to right, #d2f5da, #b7e4db);
    border-radius: 12px;
    display:flex;
    flex:auto;
    justify-content: space-between;
    font-size: 40px;
    color: rgb(80, 14, 14);
    user-select: none;
    margin: 1px;
}

.btn {
    margin-inline: 20px;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    color: #b6e2ca;
}

.plan{
    background: linear-gradient(to right, #16a08405, #f4d03f05);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
 
table {
    border-spacing: 2px;
    margin: 5px;
    padding: 5px;
    align-content: center;
    user-select: none;
    border: 1px solid rgba(170, 202, 160, 0.5);
    border-radius: 5px;
}

th {
    column-span: all;
    height: 1.8em;
    font-size: 1.8em;
    color: rgb(80, 14, 14);
    border-radius: 5px;
    background: linear-gradient(to right, #ebfae7, #d7f0eb);
    padding: 0.25em;
}

.foot{
    min-height: min-content;
    column-span: all;
}

.jour_semaine {
    font-size: 1.4em;
    text-align: center;
    height: 2em;
    
}

.m,
.a,
.n,
.h,
.r,
.v {
    text-align: center;
    font-size: 1.4em;
    border-radius: 4px 4px 4px 8px;
    width: 2em;
    height: 2em;
    border-bottom: solid 4px rgb(255, 255, 255);
    border-left: solid 4px rgb(255, 255, 255);
}
  
.m {
    background: #FADF7F;
}
  
.a {
    background: #DF2935;
    color: rgb(255, 255, 255);
}
  
.n {
    background: #2F81F6;
    color: rgb(255, 255, 255);
}
  
.h {
    background: #49DCB1;
}
  
.r {
    background: linear-gradient(to right, #f5f7fa, #f0f6ff);
}
  
.v {
    background-color: white;
}

footer{
    display:flex;
    justify-content:center;
}

.apropos{
    text-align: center;
}
