.bar_choice {
  background: linear-gradient(
    rgba(192, 189, 189, 0.2),
    rgba(116, 185, 75, 0.2)
  );
  border-radius: 50px;
  min-height: 70px;
}

label {
  font-size: large;
  padding: 10px;
  margin-left: 10px;
}

.btn {
  border: none;
  background-color: #ffe600;
  color: rgb(10, 10, 10);
  font-size: large;
  border-radius: 20px;
  padding: 15px 30px;
  margin: 5px;
  cursor: pointer;
}

.date {
  border: none;
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

select {
  font-size: large;
  padding: 5px;
  border-radius: 5px;
}

.titre {
  font-size: xx-large;
  margin: 10px;
  text-align: center;
  border: solid;
  border-radius: 20px;
  padding: 10px;
}

p {
  font-size: large;
}

table {
  border: thin;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  float: left;
  min-width: 150px;
}

.trim {
  width: 100%;
}

th {
  font-size: small;
  padding-bottom: 2px;
  border-bottom: solid;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.25);
}

.m,
.a,
.n,
.h,
.r,
.v {
  text-align: center;
  font-size: 12px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  padding: 4px;
  min-width: 18px;
  height: 18px;
}

.m {
  background-color: rgb(245, 245, 106);
}

.a {
  background-color: rgb(221, 65, 96);
  color: rgb(255, 255, 255);
}

.n {
  background-color: rgb(61, 61, 233);
  color: rgb(255, 255, 255);
}

.h {
  background-color: rgb(38, 189, 38);
  color: rgb(255, 255, 255);
}

.r {
  background-color: rgb(247, 247, 247);
}

.v {
  background-color: white;
}

@media all and (max-device-width: 480px) {
  table {
    min-width: 150px;
  }
  .m,
  .a,
  .n,
  .h,
  .r,
  .v {
    font-size: 18px;
  }
  th {
    font-size: 18px;
  }
}
