table {
  border: thin;
  border-color: rgb(27, 34, 41);
  border-radius: 10px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  float: left;
  min-height: 600px;
  min-width: 100px;
}

.titre {
  font-size: xx-large;
  margin: 10px;
  text-align: center;
  border: solid;
  border-radius: 20px;
  padding: 10px;
}

th {
  font-size: small;
  padding-bottom: 2px;
  border-bottom: solid;
}

.m,
.a,
.n,
.h,
.r {
  text-align: center;
  font-size: x-small;
}

.m {
  background-color: rgb(245, 245, 106);
  border-radius: 10px;
}

.a {
  background-color: rgb(221, 65, 96);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.n {
  background-color: rgb(61, 61, 233);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.h {
  background-color: rgb(38, 189, 38);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.r {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.btn {
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.eq {
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.date {
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
